<link href="css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
<script src="lib/jquery.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/jquery.treetable.js"></script>
<script src="data.js"></script>
<style>
      .hidden {
            visibility: hidden;
      }
</style>

  <table class='hidden' id="pivottable">
        <caption>
          <a href="#" onclick="jQuery('#pivottable').treetable('expandAll'); return false;">Expand all</a>
          <a href="#" onclick="jQuery('#pivottable').treetable('collapseAll'); return false;">Collapse all</a>
        </caption>
        <thead>
          <tr>
            <th id='pivotFieldSequence'></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
  </table>

<script>

Array.prototype.sum = function() { return this.reduce(function(a,b) { return a+b; } ) }
Array.prototype.where = function(values) { return _.where(this,values); }
Array.prototype.groupBy = function(fn) { return _.groupBy(this,fn); }
Array.prototype.minus = function(remove) { return $(this).not(remove); }
function FieldExtracter(fieldName) { return function(obj) { return obj[fieldName]; } }
//Object.prototype.mapcar = function(fn) { return _.map(this,fn); }

// getdataforpath([], "Product");

function ToObject(keys,values) {
      return _.object(_.zip(keys,values));
}


valueFields = [ "Qtr 1", "Qtr 2", "Qtr 3", "Qtr 4" ];
pivots = [ "Product", "Customer" ];

data = data.slice(0,100);
//data = data.filter(function(row) { return row["Qtr 1"] > 0; });

function getdataforpath(filter, nextPivot) {
      var filteredData = data.where(filter);
      
      var groupedData = filteredData.groupBy(function(obj) { return obj[nextPivot]; });
      var returnValue = _.map(groupedData,function(values,key) {
            var summary = { key: key };
            valueFields.forEach(function(field) { 
                  summary[field] = values.map(function(obj) { return obj[field]; } ).sum();
            })
            return summary;
      });
      return returnValue;
}

function query(id, pivotLevel) {
      var table = $("#pivottable");
      var node = table.treetable("node",id);
      if (openNodes[id] != undefined) {
            node.toggle();
            return;
      }
      openNodes[id] = 1;
      var filter = nodesDictionary[id];
      var nextPivot = pivots[pivotLevel];
      var newData = getdataforpath(filter, nextPivot);

      newData.map(function(row) {
             addNode(node, row, nextPivot, pivotLevel+1 );
       })
}


$(document).ready(function() {
      var table = $("#pivottable");
      var id = 0;
      nodesDictionary = [{}];
      openNodes = {};

      var rowTemplate = _.template("<tr onclick='query(<%= newid %>,<%= pivotLevel %>)' data-tt-id='<%= newid %>' data-tt-parent-id='<%= parentid %>' ><td><span class=folder><%= key %></span></td><%= values %></tr>");
      function addNode(baseNode,obj,currentField,pivotLevel) { 
            var parentid;
            if(baseNode == null)
                  parentid = 0;
            else
                  parentid = baseNode.id;
            id++;

            nodesDictionary[id] = _.clone(nodesDictionary[parentid])
            nodesDictionary[id][currentField]=obj.key;

            var values = valueFields.map(function(field) { return "<td>"+obj[field]+"</td>"; } ).join("\n");
            var newNode = rowTemplate({ parentid: parentid, newid : id, key: obj.key, 
                  pivotLevel: pivotLevel, pivots: pivots, values: values } );
            
            table.treetable("loadBranch", baseNode, newNode );
      }
      window.addNode = addNode;

      table.treetable({ expandable: true }).treetable("expandAll");
      valueFields.forEach(function(field) {
            $("thead tr").append("<th>"+field+"</th>");
      })
      $("#pivotFieldSequence").html(pivots.join(" &gt;&gt; "));

      $(".hidden").removeClass("hidden");
      var values = valueFields.map(function() { return "<td></td>" } ).join("\n");
      var root = { parentid: -1, newid : 0, key: "Sales database", value: "", pivotLevel: 0, pivots: pivots, values: values };
      var x= rowTemplate(root); 
      table.treetable("loadBranch",null,rowTemplate(root));
      var rootNode = $("[data-tt-id='0']");
      rootNode.click();


})


</script>