<link href="css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
<link href="css/ng-grid.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/angular-chart.css">
<link rel="stylesheet" href="css/volmarker.css">

<script src="lib/jquery-1.10.2.js"></script>

<script src="lib/underscore.js"></script>
<script src="lib/jquery.treetable.js"></script>


<script src="lib/angular.min.js"></script>

<script type='text/javascript' src='lib/d3.min.js'></script> 
<script type='text/javascript' src='lib/Chart/Chart.Core.js'></script>
<script type='text/javascript' src='lib/Chart/Chart.Line.js'></script>
<script type='text/javascript' src='lib/angular-chart.js'></script>


<script type="text/javascript" src="lib/ng-grid.debug.js"></script>
<script type="text/javascript" src="lib/ng-grid-layout.js"></script>

<!-- Project specific libs -->
<script src="js/utils.js"></script>
<script src="js/dateUtils.js"></script>

<script src="data/voldata.js"></script>
<script src="js/volmarker.js"></script>
<script src="js/volsurfacechart.js"></script>
<script src="js/volsurfacectrl.js"></script>

<style>
.pre-scrollable {

  max-height: 100%
}
.chart-highlighted {
  background-color: lightblue;
}
.list-group {
  overflow: scroll;
  max-height: 90%;
}
</style>

<title>VolMarker</title>
<html ng-app="volmarker">

<div ng-controller="volmarkerCtrl">

<!-- <span>Started at: {{ startTime }}</span> -->

      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading"><h1>Underliers 
             <button class="btn" ng-click="reloadSurfaces()">reload</button>
             <button class="btn" ng-click="next(1)">next</button>
 
          </h1></div>
          <div class="panel-body list-group">
            <div ng-repeat="und in underliers" class="list-group-item" ng-class="{'active': und == $parent.activeUnderlier }">
              <div class='list-group-item-heading'><b>{{und}}
                [{{points[und]}} maturities]</b></div>
              <vol-surface-chart underlier='{{und}}' />
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="col-md-9">
        <div class="panel panel-primary" >
          <div class="panel-heading">
            <h1>Var surface for  {{activeUnderlier}}</h1>
          </div>

          <div class="panel-body">
            <div class="col-md-6">
                <div class="gridStyle" ng-grid="gridConfig"></div>
            </div>
            <div class="col-md-6">
              <div>
                <vol-surface-chart underlier='{{activeUnderlier}}' listen=1 tooltip=1 />
              </div>
            </div>
          </div>

        </div>
      </div>



</html>

<script>

  $("#underlier").focus();
$(".gridStyle").css("height","85%");
//$(".gridStyle").css("width","100%");
</script>