        <div class="panel panel-primary" >
          <div class="panel-heading">
            <!-- FwdVar surfaces for  {{activeUnderlier}} -->
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <vol-surface-chart volSurfaceCollection='volSurfaceCollection' underlier='{{activeUnderlier}}' listen=1 tooltip=1 type='' showdatesonaxis=1 >
                <b>BM estimate vs. dealer for {{activeUnderlier}}</b>
                </vol-surface-chart>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <vol-surface-chart volSurfaceCollection='volSurfaceCollection' underlier='{{ActiveSurface().Leader()}}' listen=1 tooltip=1  showdatesonaxis=1 nolegend=1 type=bmonly>
                <b>{{ActiveSurface().IsLeader() ? "SPX variance" : "Leader variance (" + ActiveSurface().Leader() + ")" }}</b>
                </vol-surface-chart>
              </div>
<!--              <div class="col-md-6">
                <vol-surface-chart volSurfaceCollection='volSurfaceCollection' underlier='{{activeUnderlier}}' listen=1 tooltip=1 type='totalstdev' showdatesonaxis=1 nolegend=1>
                <b>Total StdDev (Var * sqrt(t))</b>
                </vol-surface-chart>
               </div> 
               -->
              <div  class="col-md-6">
                <b>Ratio to {{ActiveSurface().Leader()}} {{ settings.showVolRatio ? '(Variance / Vol at '+ratioDelta+'% delta)' : ''}}</b>
                <div ng-if='settings.showVolRatio' class="col-md-3">Delta:</div>
                <div ng-if='settings.showVolRatio' class="col-md-9"><input type="range" ng-change='changeRatioDelta(ratioDelta)' ng-model='ratioDelta' data-popup-enabled="true" min="5" max="95" step="1"></div>
                <vol-surface-chart volSurfaceCollection='volSurfaceCollection' underlier='{{activeUnderlier}}'  listen=1 tooltip=1 type=ratio showdatesonaxis=1 nolegend=1>

                </vol-surface-chart>
              </div>
              <div ng-repeat="tenor in settings.fwdVarTenorsList()" class="col-md-6">
                <vol-surface-chart volSurfaceCollection='volSurfaceCollection' underlier='{{activeUnderlier}}'  listen=1 tooltip=1 type=fwd tenor='tenor' showdatesonaxis=1 nolegend=1>
                <b>{{tenor}} forward variance</b>
                </vol-surface-chart>
              </div>
            </div>
          </div>
        </div>
