  <!-- SETTINGS MENU -->
  <div id='settingsMenu' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="close" ng-click="expertMode = !expertMode" aria-label="Close"><span aria-hidden="true"> &nbsp;&nbsp;&nbsp;  </span></button>
        <h3 class="modal-title">VolMarker settings</h3>
      </div>
      <div class="modal-body">

        <form class="form-horizontal">

<!--           <div class="form-group">
            <label for="pricingDate" class="col-sm-4 control-label">Pricing date</label>
            <div class="col-sm-8">
              <select id="pricingDate" name="date" ng-model="pricingDate">
                  <option ng-repeat="date in ['2016-4-12', '2016-4-11', '2016-4-8', '2016-4-7']" value="{{date}}" ng-selected="$index==0">{{date}}</option>
              </select>
            </div>
          </div>  
 -->
         <div class="form-group">
            <label for="pricingDate" class="col-sm-4 control-label">Pricing date</label>
          <div class="col-sm-8">
            <div class='input-group'>
              <input type="text" class="form-control" ng-model='pricingDate' uib-datepicker-popup="{{format}}" ng-model="dt" is-open="pricingDatePicker.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openPricingDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>  


           <div class="form-group">
            <label for="f3" class="col-sm-4 control-label">Load metadata (slower)</label>
            <div class="col-sm-8">
            <input id="f3" type=checkbox ng-model='settings.withMetaData' /> 
            </div>
          </div>       

          <div class="form-group">
            <label for="f3" class="col-sm-4 control-label">Show dealer details</label>
            <div class="col-sm-8">
            <input id="f3" type=checkbox ng-model='settings.showDealerDetails' /> 
            </div>
          </div>     

          <div class="form-group">
            <label for="f4" class="col-sm-4 control-label">Underliers (leave blank for all)</label>
            <div class="col-sm-8">
              <input id="f4" type="text" class="form-control"  placeholder="" ng-model='settings.underliers'>
            </div>
          </div>   

          <div class="form-group">
            <label for="fwdvartenors" class="col-sm-4 control-label">Fwd var tenors</label>
            <div class="col-sm-8">
              <input id="fwdvartenors" type="text" class="form-control"  placeholder="" ng-model='settings.fwdVarTenors'>
            </div>
          </div>   

          <div class="form-group" >
            <label for="f3" class="col-sm-4 control-label">Show vol ratio</label>
            <div class="col-sm-8">
            <input id="f3" type=checkbox ng-model='settings.showVolRatio' /> 
            </div>
          </div> 

          <!-- EXPERT MODE SETTINGS -->
        <div ng-if='expertMode'>
          <div class="form-group">
            <label for="f2" class="col-sm-4 control-label">Data mode</label>
            <div class="col-sm-8">
              <select id="f2" name="date" ng-model="settings.dataMode">
                  <option ng-repeat="mode in ['local','ajax','ajaxASP']" value="{{mode}}" ng-selected="settings.dataMode==mode">{{mode}}</option>
              </select>
            </div>
          </div>    

          <div class="form-group">
            <label for="f6" class="col-sm-4 control-label">Fake startup wait</label>
            <div class="col-sm-8">
            <input id="f6" type=checkbox ng-model='settings.fakeSleepOnLocalMode' /> 
            </div>
          </div>     

          <div class="form-group">
            <label for="f3" class="col-sm-4 control-label">Show settings at startup</label>
            <div class="col-sm-8">
            <input id="f3" type=checkbox ng-model='settings.loadMenuOnStartup' /> 
            </div>
          </div>     


          <div class="form-group" ng-if='expertMode'>
            <label for="f3" class="col-sm-4 control-label">Show console</label>
            <div class="col-sm-8">
            <input id="f3" type=checkbox ng-model='settings.console' /> 
            </div>
          </div>     

          <div class="form-group">
            <label  class="col-sm-4 control-label">Animation speed [{{settings.animationSpeed}}]</label>
            <div class="col-sm-8">
              <input type="range" ng-model='settings.animationSpeed' data-popup-enabled="true" min="1" max="10">
            </div>
          </div>    
        </div>

        </form>
      </div>
      <div class="modal-footer">
<!--         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 -->        <button type="button" class="btn btn-primary" ng-click='settings.Reset()'>Reset defaults</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->