      <div class="panel panel-primary">
        <div class="panel-heading">
                    {{volSurfaceCollection.date.format("y-m-d")}}
          <button class="btn btn-xs btn-info glyphicon glyphicon-chevron-left" ng-click="shiftPricingDate(-1,$event)"
            uib-tooltip="CTRL-click to force recalculation on the server" tooltip-placement="bottom" > </button> 
          <button class="btn btn-xs btn-info glyphicon glyphicon-refresh" ng-click="shiftPricingDate(0,$event)"
            uib-tooltip="CTRL-click to force recalculation on the server" tooltip-placement="bottom" > </button> 
          <button class="btn btn-xs btn-info glyphicon glyphicon-chevron-right"  ng-click="shiftPricingDate(1,$event)"
            uib-tooltip="CTRL-click to force recalculation on the server" tooltip-placement="bottom" > </button> 
          <button class="btn btn-xs btn-danger glyphicon glyphicon-wrench" ng-click="showSettingsMenuCb($event)"
            uib-tooltip="CTRL-click to get expert settings" tooltip-placement="bottom" > </button> 

          <span>
            <!-- <button class="btn btn-xs" ng-class="requestBusy ? 'btn-info' : 'btn-danger'" ng-click="setDateAndLoad()">{{ requestBusy ? "Loading..." : "Load" }}</button> -->
            <!--<button class="btn btn-danger" ng-click="refreshVolSurfaces()">Reload all</button>-->
          </span>
        </div>
          <div ng-if='initialized' class="panel-body list-group">
              <div ng-if='underliers.length==0' class='list-group-item-heading'>
                <b format='alert'>No data found for {{pricingDate.format("y-m-d")}}</b>
              </div>
          <div ng-repeat="und in underliers" class="list-group-item" 
            ng-click='setActiveUnderlier(und)'
            ng-class="{'active': und == $parent.activeUnderlier, 'leader' : volSurfaceCollection.Get(und).IsLeader(), 'follower' : !volSurfaceCollection.Get(und).IsLeader(), 'haschanges' : volSurfaceCollection.HasChanges(und) }">

              <!-- LIST OF INDICES  -->
              <div class='list-group-item-heading'>
                  <span><b>{{volSurfaceCollection.HasChanges(und)?'*'+und+'*' : und}}
                [{{points[und]}}]</b>
                <img ng-if='settings.showFlags' class=flag ng-src='{{misc.regionFlag(und)}}'/>
              </span>
<!--                   <div ng-if='!volSurfaceCollection.HasChanges(und)'>
                      <b>No changes</b>
                  </div>
                  <div ng-if='volSurfaceCollection.HasChanges(und)'>
                      <b>{{numberOfChanges(und)}} change{{numberOfChanges(und) > 1 ? "s" : ""}}</b>
                      <ul>
                          <li ng-repeat="change in volSurfaceCollection.changesStored[und]">{{change.obs}}: {{change.diff}}</li>
                      </ul>
                  </div>
 -->                  <div ng-if='settings.showThumbnails'>
                      <vol-surface-chart volSurfaceCollection='volSurfaceCollection' underlier='{{und}}' showdatesonaxis=0 nolegend=1 type=''></vol-surface-chart>
                  </div>
              </div>
          </div>
        </div>
        
      </div>
