body {
  padding: 20px;
}

h1 {
  text-align: center;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    font-size: 8pt;
  width: 500px;
  height: 250px;
}

.bold {
  font-weight: bold;
}


.list-group {
  overflow: scroll;
  max-height: 95%;
}

.list-group-item.active, .list-group-item.active:hover {
  background-color: E6F8A0;
  border-color: E6F8A0;
  color: black;
}


#console {
   position:absolute;
   bottom:10;
   right: 10;
   line-height: 15px;
   width:600px;   /* Height of the footer */
   height:250px;   /* Height of the footer */
   background: #1b2838;
   border: 5px darkgrey solid;
   color: #c6d4df;
   overflow-y: scroll;
   overflow-x: hidden;
   padding:10px;
}


.lastupdate {
  padding: 2px;
  background: gold;
}

.lastupdateold {
  background: lightyellow;
}

.panel-heading {
  height: 50;
  font-size: 20;
}
/*.panel-heading>button {
  position: absolute;
  right: 20px;
  font-size:14;
}
*/.panel-heading span {
  position: absolute;
  right: 25px;
  font-size:14;
}


.list-group-item:hover {
  background-color: darkturquoise;
}
.leader {
  background-color: lightyellow;
}
.follower {
  background-color: lightgreen;
}
.flag {
  height:24;
  width: 37;
  position: absolute;
  top: 10px;
  right: 10px;
  }

.haschanges {
  font-size: 1.1em;
  color: darkblue;
}

 html, body {
      height: 100%;
      width: 100%;
  }
  .content {
      height: 100%;
  }

  .panel {
      min-height: 100%;
  }
  .panel-body {
      min-height: 100%;
  }

  select {
    color: black;
  }

  .ui-grid-header-cell-wrapper {
    height: 25;
  }

   /* Specify styling for tooltip contents */
  .tooltip.customClass .tooltip-inner {
    color: black;
    background-color: white;
    box-shadow: 0 6px 22px rgba(0,0,0,.175);
    min-width: 550;
    text-align: left;
  }
  /* Hide arrow */
  .tooltip.customClass .tooltip-arrow {
    display: none;
  }

        
  .modal-header {
    background-color: #337ab7;
    color: white;
  }

  .form-control {
    height: 28px;
  }

  [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}